<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by mt3</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="header">
    <p class="title">Instrument Store</p>
    <a href="#" @click="emptyCart" style="position:absolute; right: 100px;">My Cart ({{myCart.length}})</a>
    <button type="button" @click="showCreateModel = true" style="position:absolute; right: 20px;">Create</button>
  </div>
    <li v-for="instrument in instruments" @click="instrument.details = true">
      <div class="instrumentPanel" :class="instrument.brand" v-show="!instrument.inCart">
        <div class="instrumentPicture fill">
          <img v-show="instrument.image !== ''" :src="instrument.image" alt="" />
          <div class="no-image" v-show="instrument.image === ''">
            no-image
          </div>
        </div>
        
        <div class="instrumentDetails">
          {{instrument.name}}
        </div>
        <button type="button" class="instrumentDetails" @click.stop="addToCart(instrument)">Add to Cart</button>
      </div>
      <details-model v-if="instrument.details" :instrument="instrument" @add="addToCart(instrument)" @close-details="instrument.details = false">
      </details-model>
    </li>
  <div v-show="this.myCart.length === this.instruments.length">
    Store is Empty
  </div>
  <create-model v-if="showCreateModel" @create="createInstrument($event)" @close-create="showCreateModel = false">
  </create-model>
</div>
<script type="text/x-template" id="details-model-template">
  <transition name="model">
    <div class="model-mask">
      <div class="model-wrapper">
        <div class="model-container">
          <div class="model-header">
            <h3>Instrument Information</h3>
          </div>
          <hr />
          <div class="model-body">
            <span>Name: {{instrument.name}}</span>
            <br />
            <br />
            <span>Brand: {{instrument.brand}}</span>
            <br />
            <br />
            <span>Price: ${{instrument.price}}</span>
            <br />
            <br />
            <span>Type: {{instrument.type}}</span>
          </div>
          <hr />
          <div class="model-footer">
            <button class="model-btn-float-left" @click.stop="$emit('add')">Add To Cart</button>
            <button class="model-btn-float-right" @click.stop="$emit('close-details')">Close</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
<script type="text/x-template" id="create-model-template">
  <transition name="model">
    <div class="model-mask">
      <div class="model-wrapper">
        <div class="model-container">
          <div class="model-header">
            <h3>Create Instrument</h3>
          </div>
          <hr />
          <div class="model-body">
            <label for="name">
            Name:
          </label>
            <input v-model="newInstrument.name">
            <br />
            <br />
            <label for="type">
            Type:
          </label>
            <input v-model="newInstrument.type">
            <br />
            <br />
            <label for="price">
            Price: $
          </label>
            <input v-model="newInstrument.price">
            <br />
            <br />
            <label for="brand">
            Brand:
          </label>
            <select v-model="newInstrument.brand">
            <option>Fender</option>
            <option>Yamaha</option>
            <option>Maton</option>
          </select>
          </div>
          <hr />
          <div class="model-footer">
            <button class="model-btn-float-left" @click="$emit('create', newInstrument)">Submit</button>
            <button class="model-btn-float-right" @click="$emit('close-create')">Close</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
